# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
dist-ssr/

# Enviroment
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/
*.sw?

# System
.DS_Store
Thumbs.db

# TypeScript cache
*.tsbuildinfo

*.local

.eslintcache
.prettiercache

yarn.lock
pnpm-lock.yaml

.vite/